
@font-face {
    font-family: 'game';
    src: url('font/game/Game of Thrones.eot') format('eot'),
         url('font/game/Game of Thrones.woff') format('woff'), 
         url('font/game/Game of Thrones.otf') format('otf'),
         url('font/game/Game of Thrones.ttf') format('ttf'),
         url('/font/game/Game of Thrones.svg') format('svg');
}
@font-face {
         font-family: 'hbo';
    src: url('font/hbo/hbo.eot') format('eot'),
         url('font/hbo/hbo.woff') format('woff'), 
         url('font/hbo/hbo.otf') format('otf'),
         url('font/hbo/hbo.ttf') format('ttf'),
         url('font/hbo/hbo.svg') format('svg');
}
html {
    background: url(images/background1.jpg) no-repeat center fixed;
        -webkit-background-size: cover;/* Safari et Chrome */
        -moz-background-size: cover;/* firefox */
        -o-background-size: cover;/* Opera*/
        background-size: cover; /* Universel */
    margin: 0;
    padding: 0;
}
html:hover {
    background: 
        url(images/background2.jpg) no-repeat center fixed;
        -webkit-background-size: cover;
        -webkit-transition-delay: 1s;
        -webkit-transition-duration: 3s,
        -moz-background-size: cover;
        -moz-transition-delay; 
        -moz-transition-duration: 3s,
        -o-background-size: cover;
        -o-transition-delay: 1s;
        -o-transition-duration: 3s;
        transition-delay: 1s;
        transition-duration: 3s; 
        background-size: cover;
    margin: 0;
    padding: 0;
}
.titre {
    width: 100%;
    position: fixed;
    font-weight: 30;
    font-size: 5vw;
    bottom: 40px;
    text-align: center;
    letter-spacing: 10px;
    font-family: 'game', cambria;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background: 
      -webkit-linear-gradient(#eee, #333);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    background:
      -moz-linear-gradient(#eee, #333);
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    background:  
      -o-linear-gradient(#eee, #333);
      -o-background-clip: text;
      -o-text-fill-color: transparent;
}
.hbo {
  width: 100%;
  position: absolute;
  font-weight: 10;
  font-size: 3vw;
  bottom: 0px;
  text-align: center;
  letter-spacing: 3px;
  font-family: 'hbo', cambria;
  margin: 0px;
  padding: 0px;
  border: 0px;
  line-height: 1em;
  background: 
      -webkit-linear-gradient(#eee, #333);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    background:
      -moz-linear-gradient(#eee, #333);
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    background:  
      -o-linear-gradient(#eee, #333);
      -o-background-clip: text;
      -o-text-fill-color: transparent;
}
.at {
  position:sticky;
  width: 100%;
  font-weight: 10;
  font-size: 1.5vw;
  bottom: 0px;
  text-align: center;
  letter-spacing: 3px;
  font-family: 'hbo', cambria;
  margin: 0px;
  padding: 0px;
  border: 0px;
  line-height: 1em;
  background: 
      -webkit-linear-gradient(#eee, #333);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    background:
      -moz-linear-gradient(#eee, #333);
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    background:  
      -o-linear-gradient(#eee, #333);
      -o-background-clip: text;
      -o-text-fill-color: transparent; 
}
body {
  animation: fadein 8s;
     -moz-animation: fadein 8s; 
     -webkit-animation: fadein 8s; 
     -o-animation: fadein 8s; 
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@media (max-width: 1024px) 
{
  .titre {
  letter-spacing: 1px;
  font-weight: 15;
  font-size: 3vw;
  }

}